html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
   
    background-color: white;
    color: #f2f2f2;
    border-bottom: black solid 1px;

}

h1 {
    float: left;
    font-size: 30px;
    background-color: #4aaaa5;
    color: #f2f2f2;
    padding: 15px;
    margin-left: 50px;
    
}
    
ul {
    float: right;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 15px;
    margin-right: 25px;
    
}

li {
    display: inline;
    color: #666666;
}

#line {
    border: 1px solid lightgray;
}

.container {
    background-color: white;
    width: 100%;
    border: 1px solid #dddddd;
    clear: both;
    overflow: auto;
    padding: 15px;
    margin-left: 50px;
    
    
 
}

img {
    float: left;
    width: 200px;
    margin-right: 10px;
    margin-bottom:10px;
  
}

#main-par {
    float: left;
    
}

.dog {
    font: 15px;
    color:#666666;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
   
}

h2 {
    color: #4aaaa5;
    font: 25px;
    font-size: 25px;
    font-weight: bold;
 
}



.bot {
    border: #4aaaa5 2px solid;
    margin-bottom: 0%;
    margin-top: 5%;
}

#symp {
    text-align: center;
    font-size: 10px;
    color: white;
   
}

footer {
    background: #666666;
    clear: both;
    padding: 20px;

}

#section-contact {
    background-color: white;
    width: 100%;
    border: 1px solid #dddddd;
    float: none;
    overflow: auto;
    padding: 15px;
    margin-left: 50px;
    margin-right: 100px;
}

#cat {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

#name {
    margin-bottom: 10px;
    width: 100%;
}

#email {
    margin-bottom: 10px;
}

#message {
    margin-bottom: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 7%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-style: solid;
}

#section-port {
    background-color: white;
    width: 100%;
    border: 1px solid #dddddd;
    float: none;
    overflow: auto;
    padding: 15px;
    margin-left: 50px;
    margin-right: 100px;
}